<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="/static/css/game.css">
</head>

<body>
<h1>🧩 Угадай Звук</h1>

<div id="loading">Загрузка...</div>

<div id="game-container"
     style="display: none; width: 100%; display: flex; flex-direction: column; align-items: center;">
    <div class="player-container">
        <audio id="audio-player" controls>
            Ваш браузер не поддерживает аудио.
        </audio>
    </div>

    <div class="options-grid" id="options-container">
        <!-- Options will be inserted here -->
    </div>

    <div id="feedback" class="feedback"></div>

    <button id="next-btn" class="next-btn" onclick="loadQuestion()">Следующий раунд</button>
</div>

<script src="/static/js/game.js"></script>

</body>

</html>